<% include ./partials/head %>

<div class="container mt-5 mb-5">

    <div class="alert bg-light" role="alert">
        <h4 class="alert-heading">Hello, <%= page %>!</h4>
        <hr>
        <p><%= locate %></p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <% data.forEach() %>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header alert alert-primary" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                        /pengguna <span class="badge badge-primary">GET</span>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="javascript:(void)" class="text-primary">http://localhost:3003/pengguna</a>
                    <hr>
                    <p>Halaman Index</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header alert alert-primary" id="headingAllPengguna">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseAllPengguna"
                        aria-expanded="false" aria-controls="collapseAllPengguna">
                        /pengguna/all.json <span class="badge badge-primary">GET</span>
                    </button>
                </h2>
            </div>

            <div id="collapseAllPengguna" class="collapse" aria-labelledby="headingAllPengguna"
                data-parent="#accordionExample">
                <div class="card-body">
                    <a href="javascript:(void)" class="text-primary">http://localhost:3003/pengguna/all.json</a>
                    <hr>
                    <p>Halaman Semua Pengguna</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header alert alert-primary" id="headingFindPengguna">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFindPengguna"
                        aria-expanded="false" aria-controls="collapseFindPengguna">
                        /pengguna/findById.json <span class="badge badge-primary">GET</span>
                    </button>
                </h2>
            </div>

            <div id="collapseFindPengguna" class="collapse" aria-labelledby="headingFindPengguna"
                data-parent="#accordionExample">
                <div class="card-body">
                    <a href="javascript:(void)" class="text-primary">http://localhost:3003/pengguna/findById.json?id=</a>
                    <hr>
                    <p>Halaman Cari Pengguna berdasarkan Id</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header alert alert-success" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        /pengguna <span class="badge badge-success">POST</span>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="javascript:void(0)" class="text-primary">http://localhost:3003/pengguna</a>
                    <hr>
                    <p>Halaman Tambah Pengguna</p>
                    <hr>
                    <form class="needs-validation" novalidate>
                        <div class="form-group row">
                            <label for="inputUsername" class="col-sm-2 col-form-label">Username : </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Username" required>
                                <div class="invalid-tooltip">
                                    Harus diisi!
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password : </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required>
                                <div class="invalid-tooltip">
                                    Password harus diisi!
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRole" class="col-sm-2 col-form-label">Role : </label>
                            <div class="col-sm-10">
                                <select id="inputRole" class="custom-select" required>
                                    <option value="">-- Pilih --</option>
                                    <option value="1">Admin Web</option>
                                    <option value="2">Mobile</option>
                                    <option value="3">Web</option>
                                </select>
                                <div class="invalid-tooltip">
                                    Role harus dipilih!
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header alert alert-warning" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        /pengguna <span class="badge badge-warning">PUT</span>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="javascript:void(0)" class="text-primary">http://localhost:3003/pengguna?id=</a>
                    <hr>
                    <p>Halaman Update Pengguna</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header alert alert-danger" id="headingDeletePengguna">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseDeletePengguna"
                        aria-expanded="false" aria-controls="collapseDeletePengguna">
                        /pengguna <span class="badge badge-danger">DELETE</span>
                    </button>
                </h2>
            </div>
            <div id="collapseDeletePengguna" class="collapse" aria-labelledby="headingDeletePengguna"
                data-parent="#accordionExample">
                <div class="card-body">
                    <a href="javascript:void(0)" class="text-primary">http://localhost:3003/pengguna?id=</a>
                    <hr>
                    <p>Halaman DELETE Pengguna</p>
                    <hr>

                    <form class="needs-validation" novalidate>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<% include ./partials/footer %>